body{
    background:#111;
    color:#00ff9c;
    font-family:monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#game{
    width:700px;
    background:#000;
    border:2px solid #00ff9c;
    padding:20px;
}

#output{
    height:400px;
    overflow-y:auto;
    white-space:pre-wrap;
}

#input{
    width:100%;
    background:black;
    color:#00ff9c;
    border:none;
    border-top:1px solid #00ff9c;
    padding:10px;
    font-family:monospace;
}

